body{
    background-color: rgba(195, 196, 195, 0.333);
}
h3,h5,h1,.title_task{
    font-family: "Playfair Display", serif;
    font-style: italic;
}
/* sidebar */
.Sidebar{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    border-radius: 0 25px 25px 0;
}
i{
    font-size: 25px;
    color: rosybrown;
}i:hover{
    color: rgb(255, 0, 123);
}
.a_details{
    color:rosybrown !important; 
    text-decoration-color:rosybrown !important;
}
.a_details:hover{
    color: rgb(255, 0, 123);
    text-decoration-color: rgb(255, 0, 123);
}
  /* media queries */
  @media  (max-width:950px){
    i{font-size:15px;}
    .diff_task{
        flex-direction: column !important;
    }
    .title-list{
        margin-bottom: 30px !important;
    }
    .title_task{
        font-size: 20px;
    }
    .list_day {
        max-height: 600px; /* Limite la hauteur du conteneur */
        overflow-y: auto;  /* Ajoute une barre de défilement si nécessaire */
      }
    .list-group-item{
        max-width: 200px;
    }
  }
  @media (max-width:600px){
    .Sidebar{
        width: 60px;
    }
    i{font-size: 25px;}
    h3,h5,.title_task{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .list-group{
        margin-left: 40px;
        width: 80%;
    }
    .list-group-item{
        min-width: 100px;
    }
  }


/* add page */ /*edit page*/ /*details page*/
form textarea {
    border-radius: 25px !important;
    border: solid 1px rosybrown !important;
    padding: 4px 4px 4px 10px !important;
}
form input[type="datetime-local"],form input [type="text"]{
    border-radius: 25px !important;
    border: solid 1px rosybrown !important;
    padding: 4px 4px 4px 10px !important;
}
form textarea,form input,form button{
    width: 300px;

}
form textarea{
    height: 200px;
    resize: none;
}
form button{
    background-color: rosybrown;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 25px;
}
form input[type="date"]{
    align-items: center;
    justify-content: center;
}
form .form-check-input:checked{
    background-color: rosybrown !important;
    border-color: goldenrod !important;

}